<div class="main-content clear-fix">
    <img class="map-image" src="/Images/aerialsksouth.jpg" id="aerialsksouth_Image_Map" usemap="#m_aerialsksouth_Image_Map" alt="" />
    <map name="m_aerialsksouth_Image_Map" id="m_aerialsksouth_Image_Map">
        <area shape="rect" coords="973,514,1199,827" href="/Condo/100" target="_self" alt="LANDMARK TOWERS" />
        <area shape="rect" coords="0,86,91,137" href="/Condo/101" alt="HARBOUR LIGHT TOWERS" />
        <area shape="rect" coords="21,137,133,203" href="/Condo/102" alt="SOUTH BAY" />
        <area shape="poly" coords="91,224,438,455,359,612,608,636,650,461,188,203" href="/Condo/103" target="_self" alt="BAYSIDE" />
        <area shape="rect" coords="123,34,227,86" href="/Condo/104" target="_self" alt="DANS ISLAND" />
        <area shape="rect" coords="176,94,227,150" href="/Condo/105" alt="CABANA CLUB" />
        <area shape="rect" coords="234,18,460,121" href="/Condo/106" alt="ULTIMAR" />
        <area shape="rect" coords="279,130,555,223" href="/Condo/107" target="_self" alt="SOUTH BEACH 1" />
        <area shape="rect" coords="460,238,555,327" href="/Condo/108" target="_self" alt="SOUTH BEACH 2" />
        <area shape="rect" coords="398,219,457,280" href="/Condo/109" target="_self" alt="SOUTH BEACH 3" />
        <area shape="rect" coords="559,223,653,343" href="/Condo/110" target="_self" alt="Sand Key Club" />
        <area shape="rect" coords="659,273,703,359" href="/Condo/111" target="_self" alt="UTOPIA" />
        <area shape="rect" coords="703,223,905,422" href="/Condo/112" target="_self" alt="CRESCENT BEACH CLUB" />
        <area shape="rect" coords="917,359,946,540" href="/Condo/113" target="_self" title="" alt="LIGHTHOUSE1" />
        <area shape="rect" coords="923,296,1024,359" href="/Condo/114" target="_self" title="" alt="LIGHTHOUSE2" />
        <area shape="rect" coords="960,370,1046,503" href="/Condo/115" target="_self" title="" alt="HARBOUR LIGHT" />
        <area shape="rect" coords="1243,503,1462,895" href="/Condo/116" target="_self" alt="MERIDIAN ON SAND KEY" />
        <area shape="rect" coords="1475,574,1920,1080" href="/Condo/117" target="_self" title="" alt="GRANDE" />
        <area shape="rect" coords="1370,47,1715,134" href="/Residential/" target="_self" alt="" />
        <area shape="rect" coords="1370,200,1715,285" href="/Rental/" target="_self" alt="" />
    </map>
</div>