<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Developer" content="mvc.programmer@gmail.com" />
    <meta name="Developer Site" content="https://www.mvcprogrammer.com" />
    <title>@ViewData["Title"] - Test</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/Site.css" />
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery.bpopup.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/condo_selector.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/photo_swap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

